#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Nothing X
Exec=chromium --app=https://earweb.bttl.xyz/ --no-first-run --no-default-browser-check
Icon=/home/barab/brice/config/desktop/icons/nothingx.png
StartupWMClass=nothing_x
