#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Snapchat
Exec=chromium --app=https://snapchat.com/web --no-first-run --no-default-browser-check
Icon=/home/barab/brice/config/desktop/icons/snapchat.svg
StartupWMClass=snapchat
