#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Word
Exec=chromium --app=https://word.cloud.microsoft/ --no-first-run --no-default-browser-check
Icon=/home/barab/brice/config/desktop/icons/word.svg
StartupWMClass=word
