@use "sass:color";

$bg: #212223;
$fg: #f1f1f1;
$accent: #378df7;
$radius: 6px;
window.bar {
    font-weight: bold;
    font-size: 1.1em;
    margin: 5px 2px 0px 2px;
    .margin-x {
        margin: 0px 5px;
    }
    .padding-y {
        padding: 5px 0px;
    }
    image {
        padding: 3px 6px;
        color: white;
        border-radius: 3px;
    }
    popover {
        arrow,
        contents {
            background-color: $fg;
        }

        button {
            background-color: $bg;
        }
    }

    label {
        padding: 2px 5px;
    }
    .opaque {
        background-color: $bg;
        border-radius: $radius;
    }
    button {
        all: unset;
        transition: 300ms;
        background-color: $bg;
        border-radius: $radius;
    }
    button:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    button:active {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .Workspaces {
        label {
            transition: 300ms;
            padding: 2px 10px;
        }

        .focused label {
            color: $accent;
            border-color: $accent;
        }
    }
    .tray-item {
        margin-left: 3px;
    }
}
