@use "sass:color";

$bg: #212223;
$fg: #f1f1f1;
$accent: #378df7;
$radius: 6px;
$gaps_out: 5px;
window.Bar {
    font-weight: bold;
    font-size: 1.1em;
    box {
        margin: 2 5 0 5px;
    }
    .opaque-box {
        background-color: $bg;
        border-radius: $radius;
    }
    label {
        padding: 2 5px;
    }
    button {
        all: unset;
        transition: 300ms;
        background-color: $bg;
        border-radius: $radius;
        padding: 3 6px;
    }
    button:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    button:active {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        background-position: center;
        background-size: contain;
        border-radius: 3px;
    }

    .Workspaces {
        label {
            transition: 300ms;
        }

        .focused label {
            color: $accent;
            border-color: $accent;
        }
    }
    .tray-item {
        margin-left: 5px;
    }
}
